<div class="welcome_contents">
<!--<img class="welcome_img" src="/images/snackattack.png" alt="">-->
<div class="welcometext" id="messenger"></div>
</div>

<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>