<center>
    <div style="border-radius: 25px; background-color: #ffbfd3; max-width: 300px; padding: 20px;">
        <h2>Thank you for subscribing!</h2>

        <img src="https://media.giphy.com/media/13qctMBrrgbwJi/giphy.gif" width="300">

        <h3>Be sure to try our tasty item of the month:</h3>
        <h1>JYNX MUFFINS</h1>

        <p>
        <img src="https://github.com/aglegaspi/vernancios-bakery/blob/master/public/images/jynxmuffins.png?raw=true" alt="Item of the Month" height="300" width="300" style="border-radius: 25px">
        </p>

        <p>Please visit us again soon!</p>
    </div>
</center>

