
<section class="content bgcolor-5">
 <form action="/subscribed" method="POST">
      <span class="input input--minoru">
        <input class="input__field input__field--yoko" type="text" id="input-16" name="email">
        <label class="input__label input__label--yoko" for="input-16">
          <span class="input__label-content input__label-content--yoko">
          click above to enter email
          </span>
        </label>
      </span>
      <p><input class="inprmx" type="submit" value="subscribe"></p>
  </form>
</section>
